<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Lien vers le fichier CSS -->
    <title>Confirmation de Renouvellement</title>
</head>
<body>
    <table class="row" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <div class="email-content">
                        <p>Dear [FIRSTNAME] [LASTNAME],</p>
                        <p>Thank you for being part of the AMS community!</p>
                        <p>Please find below a copy of your invoice.</p>
                        <p>Membership Type: <strong>[TYPE]</strong></p>
                        <p>For any questions, contact us at: <a href="mailto:secretariat@multispecialtysociety.com">secretariat@multispecialtysociety.com</a></p>
                        <p>Yours Sincerely,<br>The AMS Secretariat</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
